// https://github.com/matthova/clock/blob/master/fonts/europa-regular-webfont.ttf
// https://www.onlinewebfonts.com/download/2aea0ac500c896188f9ad191c231029c
@font-face {
	font-family: "Europa";
	src: url("./assets/fonts/europa.ttf") format("truetype");
}
@font-face {
	font-family: "Orpheus Pro";
	src: url("./assets/fonts/Orpheus Pro.ttf") format("truetype");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Europa", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(./assets/icons/Chevron_down.svg);
	background-position: 95%;
	background-size: 24px;
	background-repeat: no-repeat;
	background-color: #eee;
	&.select-arrow-white {
		background-image: url(./assets/icons/Chevron_down_white.svg);
	}
}

.OrpheusPro {
	font-family: "Orpheus Pro", Arial, sans-serif;
}

.iconButton {
	span {
		position: relative;
	}
}

.tab > div:nth-of-type(2) {
	border-bottom: 3px solid #866768;
}
